.led-animation-on {
    animation: animation-on 0.3s ease 0s 1 normal forwards;
}

.led-animation-off {
    animation: animation-off 0.3s ease 0s 1 normal forwards;
}

.hover-animation:hover {
    animation: hover 0.1s ease-out 0s 1 normal forwards;
}

@keyframes animation-on {
    0% {
        transform: translateX(0rem);
    }

    100% {
        transform: translateX(1.8rem);
    }
}

@keyframes animation-off {
    0% {
        transform: translateX(1.8rem);
    }

    100% {
        transform: translateX(0rem);
    }
}

@keyframes hover {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-2px);
    }
}